/*
  * Container *
  Explaining some of the CSS:
  # background-color: #FFFFFF; | To simulate an input box - in case background of the whole page is different
*/
.jt-editor {
    padding: 3px;
    display: block;
    vertical-align: middle;
    font-size: 14px;
    color: #555;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    cursor: text;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 0px #F1F1F1 inset;
}

.jt-editor.focused-true {
    border-color: #66AFE9;
    outline: 0;
}

.jt-editor input[type="text"] {
    margin: 0;
    border: none;
    height: 26px;
    outline: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    font-weight: normal;
}

.jt-container {
    margin-top: 5px;
}

/* Tag */
.jt-tag {
    background: #D3F3FB;
    border: 1px solid #7DD4F4;
    border-radius: 3px;
    padding: 3px;
    cursor: default;
    display: inline-block;
    height: 24px;
    color: #009ADF;
    font-weight: bold;
    box-sizing: border-box;
}

.jt-tag:hover {
    border-color: #BCBCBC;
}

.jt-tag .value {
    padding-left: 2px;
}

.jt-tag.active-true {
    border-color: rgba(82, 168, 236, 0.8);
}

.jt-tag .remove-button {
    cursor: pointer;
    padding-right: 4px;
}

.jt-tag .remove-button:hover {
    font-weight: bold;
}

/* New tag input & Edit tag input */
.jt-tag-new, .jt-tag-edit {
    border: none;
    outline: 0px;
    min-width: 50px; /* Will keep autogrow from lowering width more than 60 */
}

/* New tag input & Edit tag input & Tag */
.jt-tag-new, .jt-tag-edit, .jt-tag {
    margin: 1px 1px 1px 1px;
}

/* Should not be displayed, only used to capture keydown */
.jt-fake-input {
    float: left;
    position: absolute;
    left: -10000px;
    width: 1px;
    border: 0px;
}

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    padding: 3px 20px;

.tt-suggestion.tt-cursor {
    color: #1F282C;
    background-color: rgba(96, 106, 110, 0.075);
}

.tt-suggestion p {
    margin: 0;
}